@{
    ViewData["Title"] = "Login";
}

<form action="" method="post">
    <div class="login-menu">
        <div class="text-center form-center">
            <h2 class="login-title">RMA Unilar - Login</h2>
            <input class="input-menu" type="text" placeholder="Nome de Usuário" name="username" required />
            <input class="input-menu" type="password" placeholder="Senha" name="password" required />
            <button class="btn-login" type="submit">Entrar</button>
        </div>
    </div>
</form>